:root {
  --light: #f9f9f9;
  --dark: #010101;
  --grey: #334252;
}

.slider {
  width: 100%;
  max-width: 450px;
  padding: 2rem 1rem;
}
.slider__list {
  display: flex;
  align-items: center;
  position: relative;
  --heightItem: 400px;
  height: var(--heightItem);
  top: 0;
  left: 0;
  transition: all ease 0.35s;
  transform: translateX(0);
}
@media (max-width: 767px) {
  .slider__list {
    height: auto;
  }
}
@media (max-height: 700px) {
  .slider__list {
    height: auto;
  }
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all ease 0.35s;
  border: 2px solid;
  margin-right: 2rem;
  opacity: 0.25;
}
@media (max-width: 767px) {
  .slider__item {
    height: auto;
  }
}
@media (max-height: 700px) {
  .slider__item {
    height: auto;
  }
}
.slider__item.active {
  opacity: 1;
}
.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  bottom: 50px;
  right: 5%;
  left: 5%;
  position: absolute;
}
.slider__dot {
  display: block;
  width: 1rem;
  height: 1rem;
  background: var(--light);
  transition: all ease 0.3s;
  cursor: pointer;
  opacity: 0.25;
  margin-right: 0.5rem;
  transform-origin: center;
  transform: rotate(0);
}
.slider__dot.active {
  opacity: 1;
}
.slider__dot:hover {
  transform: rotate(45deg);
}
.slider__dot:last-child {
  margin-right: 0;
}

html{
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey);
  color: var(--light);
  font-family: "Work Sans", sans-serif;
  min-height: 78vh;
  padding: 2rem;
}

.img {
  width: 100%;
  height: calc(var(--heightItem) / 2);
  max-height: 33vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin-bottom: 2rem;
  flex: auto;
}

.title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: auto;
}

.text {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: auto;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}